* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  height: 100%;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=30&opacity=14);
}

html.dark {
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=1c1c1cff&noise=626262&density=30&opacity=23);
}

html.dark .main-content p,
html.dark .main-about p,
html.dark a.blue,
html.dark a.gray:active,
html.dark .btn {
  color: #a3a3a3;
}

html.dark .password {
  color: #a3a3a3 !important;
}

html.dark a.blue {
  border-bottom: 1px solid #a3a3a3;
}

html.dark a.blue:active,
html.dark a.gray:active {
  color: #108cff;
  border-bottom: 1px solid #108cff;
}

html.dark .btn {
  border: 2px solid #108cff;
}

html.dark .btn:active,
html.dark .btn.active {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

html.dark .last-passwords ul li {
  background: none;
  color: #fff;
}

html.dark .last-passwords ul li:active {
  background: #108cff;
  text-shadow: 0 0 10px #fff;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Ubuntu",sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a.blue {
  color: #108cff;
  border-bottom: 1px solid #108cff;
  -webkit-transition: color 0.2s ease,border 0.2s ease;
  transition: color 0.2s ease,border 0.2s ease;
}

a.blue:active {
  color: #000;
  border-bottom: 1px solid #000;
}

p {
  width: 400px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto 35px;
  line-height: 31px;
}

sup {
  font-size: 10px;
}

.wrapper {
  width: 640px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.wrapper.blur {
  opacity: 0;
}

.wrapper .content {
  position: relative;
  top: -20px;
  height: 0;
  opacity: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .content.active {
  top: 0;
  opacity: 1;
  height: auto;
}

#black-box {
  width: 100%;
  height: 100%;
  background: #000 url(../img/preloader.gif) center center no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.btn-container {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 22px 157px;
  margin: 0 auto 40px;
  color: #000;
  border: 2px solid #108cff;
  border-radius: 30px;
  font-size: 27px;
  cursor: pointer;
  -webkit-transition: background 0.5s ease,color 0.5s ease,text-shadow 0.5s ease;
  transition: background 0.5s ease,color 0.5s ease,text-shadow 0.5s ease;
}

.btn:active {
  -webkit-transition: background 0.1s ease,color 0.1s ease;
  transition: background 0.1s ease,color 0.1s ease;
  background: #108cff;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.btn.active {
  background: #108cff;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  cursor: default;
}

.list-btn {
  overflow: hidden;
  list-style: none;
  margin-bottom: 35px;
}

.list-btn li {
  float: left;
}

.list-btn li:first-child span {
  border-radius: 30px 0 0 30px;
}

.list-btn li:last-child span {
  border-radius: 0 30px 30px 0;
}

.list-btn li span {
  width: 200px;
  padding: 17px 0;
  margin: 0;
  margin-left: -2px;
  position: relative;
  left: -10px;
  font-size: 27px;
  border-radius: 0;
  text-align: center;
}

.small-list-btn li span {
  width: 143px;
  font-size: 23px;
}

#header {
  height: 89px;
  position: relative;
  z-index: 10;
}

#header .list-btn {
  width: 424px;
  margin: 0 auto;
  position: relative;
  top: 15px;
}

.main-content,
.main-about {
  overflow: hidden;
  padding-top: 35px;
}

.main-content p {
  color: #108cff;
}

.main-about p {
  color: #000;
}

#icon {
  margin-top: 10px;
}

.canvas-wrapper {
  padding-left: 40px;
  margin-bottom: 40px;
  position: relative;
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.canvas-wrapper .canvas {
  width: 560px;
  height: 368px;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.canvas-wrapper .canvas.flip {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.canvas-wrapper .canvas.flip .password {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.canvas-wrapper .canvas img {
  border-radius: 50%;
  width: 400px;
  height: auto;
}

.canvas-wrapper .canvas .password {
  width: auto;
  margin: 0;
  color: #000;
  font-size: 70px;
  line-height: 86px;
}

.canvas-wrapper .canvas .password.small {
  font-size: 40px;
  line-height: 50px;
}

.canvas-wrapper .canvas .password.selectable {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.canvas-wrapper .canvas #help-close {
  width: 58px;
  height: 58px;
  background: url("../img/help-close.png") center center no-repeat;
  left: -2px;
  top: 8px;
}

.canvas-wrapper .canvas #help {
  position: absolute;
  top: 16px;
  display: none;
  right: -8px;
}

.icon-list-ul {
  font-size: 30px;
  color: #555;
  position: relative;
  left: 20px;
  top: 3px;
  padding: 20px;
  margin-left: -20px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.icon-list-ul:active {
  color: #108cff;
  text-shadow: 0 0 10px #108cff;
}

.icon-list-ul.disabled {
  opacity: 0.5;
}

.social a {
  margin: 0 10px;
  font-size: 78px;
  color: #555;
}

.social a:active {
  color: #108cff;
  text-shadow: 0 0 10px #108cff;
}

.last-passwords {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}

.last-passwords.visible {
  display: block;
}

.last-passwords .close {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 40px;
  right: 14px;
}

.last-passwords .close:before,
.last-passwords .close:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 29px;
  right: 34px;
  background: #555;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.last-passwords .close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.last-passwords .close:active {
  color: #108cff;
  text-shadow: 0 0 10px #108cff;
}

.last-passwords ul {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 25px;
  list-style: none;
  margin: -250px 0 0 -250px;
  padding: 0;
}

.last-passwords ul li {
  padding: 25px 0;
  background: #fff;
  border: 1px solid #108cff;
  border-radius: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(16,140,255,0.3);
  -webkit-transition: background 0.2s ease,text-shadow 0.2s ease;
  transition: background 0.2s ease,text-shadow 0.2s ease;
}

.last-passwords ul li:active {
  background: #108cff;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

body.desktop {
  background: #58612c url(../img/bg-desktop.jpg) center center;
}

body.desktop #footer {
  height: 50px;
}

#desktop {
  width: 100%;
  height: 100%;
  text-align: center;
}

#desktop p,
#desktop a {
  color: #fff !important;
  text-shadow: 0 1px 5px #6d3400;
  font-size: 14px;
}

#desktop #desktop #desktop-p-img img,
#desktop #github,
#desktop #twitter,
#desktop #mail,
#desktop #presentation {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#desktop #desktop-p-img {
  height: 80px;
  position: relative;
}

#desktop #desktop-p-img img {
  width: 79px;
  height: 79px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -40px;
  z-index: 0;
}

#desktop #desktop-p-img img[src*=pg] {
  z-index: 2;
}

#desktop #desktop-p-img img[src*=pg]:hover {
  opacity: 0;
  left: 47%;
}

#desktop #social {
  position: fixed;
  left: 40px;
  bottom: 0px;
}

#desktop #social a {
  background: url(../img/desktop-social.png);
  display: block;
  float: left;
  margin-right: 15px;
}

#desktop #social #github,
#desktop #social #twitter,
#desktop #social #mail,
#desktop #social #presentation {
  opacity: 0.3;
}

#desktop #social #github:hover,
#desktop #social #twitter:hover,
#desktop #social #mail:hover,
#desktop #social #presentation:hover {
  opacity: 0.8;
}

#desktop #social #github {
  width: 28px;
  height: 30px;
}

#desktop #social #twitter {
  width: 36px;
  height: 30px;
  background-position: -42px 0px;
}

#desktop #social #mail {
  width: 34px;
  height: 30px;
  background-position: -91px 0px;
}

#desktop #social #presentation {
  width: 36px;
  height: 30px;
  background-position: -137px 0px;
}

#footer {
  width: 640px;
  margin: -1px auto 0;
  height: 1px;
  position: relative;
}