/* Import & vars */
@import "compass"

$white: #fff
$main-color: #000
$gray: #555
$gray-active: #a3a3a3
$blue: #108CFF

/* Common */
*
	user-select: none
	-webkit-tap-highlight-color: rgba(0,0,0,0)

html
	height: 100%
	background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=30&opacity=14)

	&.dark
		background: url(http://api.thumbr.it/whitenoise-361x370.png?background=1c1c1cff&noise=626262&density=30&opacity=23)

		#black-box
			background: black

		.main-content p, .main-about p, a.blue, a.gray:active, .btn, .icon-lock
			color: $gray-active

		.password
			color: $gray-active !important

		a.blue
			border-bottom: 1px solid $gray-active

		a.blue:active, a.gray:active
			color: $blue
			border-bottom: 1px solid $blue

		.btn
			border: 2px solid $blue

			&:active, &.active
				color: $white
				text-shadow: 0 0 10px $white

		.last-passwords
			ul li
				background: none
				color: white

				&:active
					background: $blue
					text-shadow: 0 0 10px white

body
	width: 100%
	height: 100%
	margin: 0
	font-family: 'Ubuntu', sans-serif
	color: $main-color
	font-size: 14px
	line-height: 20px


a
	text-decoration: none

	&.blue
		color: $blue
		border-bottom: 1px solid $blue
		transition: color .2s ease, border .2s ease

		&:active
			color: $main-color
			border-bottom: 1px solid $main-color

p
	width: 400px
	font-size: 25px
	text-align: center
	margin: 0 auto 35px
	line-height: 31px

sup
	font-size: 10px

.wrapper
	width: 640px
	margin: 0 auto
	min-height: 100%
	height: auto !important
	height: 100%
	transition: opacity .5s ease

	&.blur
		opacity: 0

	.content
		position: relative
		top: -20px
		height: 0
		opacity: 0
		padding: 0
		transition: all .5s ease

		&.active
			top: 0
			opacity: 1
			height: auto

#black-box
	width: 100%
	height: 100%
	background: white
	position: fixed
	top: 0
	left: 0
	z-index: 1000

	.icon-spin
		color: $blue
		font-size: 80px
		position: absolute
		left: 50%
		top: 50%
		margin: -41px 0 0 -25px



/* Buttons */
.btn-container
	text-align: center

.btn
	display: inline-block
	padding: 22px 157px
	margin: 0 auto 40px
	color: $main-color
	border: 2px solid $blue
	border-radius: 30px
	font-size: 27px
	cursor: pointer
	transition: background .5s ease, color .5s ease, text-shadow .5s ease

	&:active
		transition: background .1s ease, color .1s ease
		background: $blue
		color: $white
		text-shadow: 0 0 10px white

	&.active
		background: $blue
		color: $white
		text-shadow: 0 0 10px white
		cursor: default

.list-btn
	overflow: hidden
	list-style: none
	margin-bottom: 35px

	li
		float: left

		&:first-child span
			border-radius: 30px 0 0 30px
		&:last-child span
			border-radius: 0 30px 30px 0
		span
			width: 200px
			padding: 17px 0
			margin: 0
			margin-left: -2px
			position: relative
			left: -10px
			font-size: 27px
			border-radius: 0
			text-align: center

.small-list-btn
	li
		span
			width: 143px
			font-size: 23px



/* Header */
#header
	height: 89px
	margin: 10px 0 20px
	position: relative
	z-index: 10

	.list-btn
		width: 424px
		margin: 0 auto
		position: relative
		top: 15px



/* Content */
.main-content, .main-about
	overflow: hidden
	padding-top: 35px

.main-content p
	color: $blue

.main-about p
	color: $main-color

#icon
	margin-top: 10px

.canvas-wrapper
	padding-left: 40px
	margin-bottom: 40px
	position: relative

	.canvas
		width: 560px
		height: 368px
		margin: 0 auto
		text-align: center
		display: table-cell
		vertical-align: middle

		img
			width: 70%
			height: auto
			border-radius: 50%

		.password
			width: auto
			margin: 0
			color: $main-color
			font-size: 70px
			line-height: 86px

			&.small
				font-size: 40px
				line-height: 50px
			&.selectable
				user-select: initial

.icon-list-ul
	font-size: 30px
	color: $gray
	position: relative
	left: 20px
	top: 3px
	padding: 20px
	margin-left: -20px
	transition: opacity .5s ease

	&:active
		color: $blue
		text-shadow: 0 0 10px $blue

	&.disabled
		opacity: 0.5

.social a
	margin: 0 10px
	font-size: 78px
	color: $gray

	&:active
		color: $blue
		text-shadow: 0 0 10px $blue


/* Last passwords */
.last-passwords
	width: 100%
	height: 100%
	text-align: center
	position: fixed
	left: 0
	top: 0
	z-index: 5
	display: none

	&.visible
		display: block

	.close
		width: 80px
		height: 80px
		position: fixed
		top: 40px
		right: 14px

		&:before, &:after
			content: ''
			display: block
			width: 50px
			height: 3px
			position: absolute
			top: 29px
			right: 34px
			background: $gray
			transform: rotate(45deg)

		&:after
			transform: rotate(-45deg)

		&:active
			color: $blue
			text-shadow: 0 0 10px $blue

			&:before, &:after
				background: $blue

	ul
		$width: 500px
		$height: 500px
		width: $width
		height: $height
		position: absolute
		left: 50%
		top: 50%
		font-size: 25px
		list-style: none
		margin: (-$height/2) 0 0 (-$width/2)
		padding: 0

		li
			padding: 25px 0
			background: white
			border: 1px solid $blue
			border-radius: 30px
			margin-bottom: 30px
			box-shadow: 0 0 10px rgba($blue, 0.3)
			transition: background .5s ease, text-shadow .5s ease, color .5s ease

			&:active
				transition: background .1s ease, text-shadow .1s ease, color .1s ease
				background: $blue
				color: white
				text-shadow: 0 0 10px white

.app-icon
	text-align: center

	.icon-lock
		font-size: 200px
		color: $gray



/* Desktop */
body.desktop
	background: #58612c url(../img/bg-desktop.jpg) center center

	#footer
		height: 50px

#desktop
	width: 100%
	height: 100%
	text-align: center

	p, a
		color: white !important
		text-shadow: 0 1px 5px #6D3400
		font-size: 14px

	#desktop #desktop-p-img img,
	#github, #twitter, #mail, #presentation
		transition: all .5s ease

	#desktop-p-img
		height: 80px
		position: relative

		img
			width: 79px
			height: 79px
			position: absolute
			left: 50%
			top: 0
			margin-left: -40px
			z-index: 0

			&[src*=pg]
				z-index: 2

				&:hover
					opacity: 0
					left: 47%

	#social
		position: fixed
		left: 40px
		bottom: 0px

		a
			background: url(../img/desktop-social.png)
			display: block
			float: left
			margin-right: 15px

		#github, #twitter, #mail
			opacity: 0.3

			&:hover
				opacity: 0.8

		#github
			width: 28px
			height: 30px

		#twitter
			width: 36px
			height: 30px
			background-position: -42px 0px

		#mail
			width: 34px
			height: 30px
			background-position: -91px 0px



/* Footer */
#footer
	width: 640px
	margin: -1px auto 0
	height: 1px
	position: relative