body {
	color: #d6d6d6;
	font-family: Verdana;
	font-size: 10px;
	background: #161616 url(../img/back.png);
}
.button {
	color: #fff;
	font: bold 20px/46px Ubuntu, Helvetica;
	text-decoration: none;
	text-align: center;
	text-shadow: #000 0 1px 0;
	border-width: 0px 14px 0px 14px;
	display: block;
	margin: 3px 0;
}
.black { 
	-webkit-border-image: url(../img/grayButton.png) 0 14 0 14; 
}
#logo {
	margin-bottom: 22px;
   text-align:center;
}
#logo span {
	font-size: 60px;
}
#symbols_and_length {
	width: 100%;
}
#symbols {
	padding-right: 30px;
	width: 75%;
}
.inputs {
	border: 1px solid #000;
	color: #7b7b7b;
	height: 30px;
	-webkit-box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(top, #d6d6d6 0%,#ffffff 100%);
	padding: 0 10px;
	border-radius: 0;
	margin: 10px 0 16px 0;
}
.inputs:focus {
	outline: none;
}
#symbols_length {
	width: 100%;
}
#length {
	padding-right: 20px;
	width: 25%;
}
#input_length {
	width: 100%;
}
#variants {
	margin: -5px 0 13px 15px;
}
#variants label {
	font-size: 9px;
}
#variants input {
	width: 17px;
	height: 17px;
	margin: 8px 6px 0 0;
	border: 1px solid #000;
	border-radius: 0;
}
#password {
	margin: 17px 20px 0 0;
}
#pass_length {
	width: 100%;
}
#copyright {
	text-align: center;
	font-size: 7px;
	margin-top: 5px;
}